.posts {
  margin-bottom: 69px;
}
.posts__title {
  @include section-title;
  padding-bottom: 24px;
}
.posts__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 140px 140px;
  grid-auto-flow: column;
  gap: 32px 25px;
  padding: 0;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;

  }
}
.posts__item {
  display: flex;
  @media (max-width: 450px) {
    flex-direction: column;
  }
}
.posts__text--wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  @media (max-width: 450px) {
    margin: 0;
  }
}
.posts__title {
  color: $mainTextColor;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0;
  text-transform: none;
  text-decoration: none;
}
.posts__comments {
  font-size: 12px;
  font-weight: 400;
  color: rgba(124, 124, 124, 1);
  padding-bottom: 15px;

}
.posts__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(92, 92, 92, 1);
  @media (max-width: 1100px) {
    line-height: 16px;
  }
  @media (max-width: 555px) {
    display: none;
  }
}
