@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url(/fonts/Ubuntu-Regular.woff2);
}
.body {
  font-family: 'Ubuntu', sans-serif;
}
.autorization-page {
  background-image: url(../images/Bgr-1.png);
  background-size: cover;
}
.wrapper {
  width: 1366px;
  margin: 0 auto 0 auto;
}
.header-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  height: 50px;
  margin: 0;
  padding: 7px 0 7px 0;
  background-color: rgba(0, 0, 0, 0.4);
  list-style-type: none;
}
.header-link {
  color: #fff;
  text-decoration: none;
}

.header-item-one {
  font-size: 22px;
  font-weight: 700;
  padding: 18px 704px 18px 79px;
}
.header-link:hover {
  color: #236d47;
}
.header-item-two {
  padding-right: 27px;
}

.header-item-two-img {
  color: rgb(0, 0, 0);
}
.header-item-two-img:hover {
  color: #236d47;
}

.header-item-three {
  padding-right: 24px;
}
.header-item-four {
  padding-right: 25px;
  border-right: 1px solid #fff;
}
.header-item-five {
  padding-left: 27px;
  padding-right: 5px;
  color: #fff;
}
.header-item-six {
  color: #fff;
}

/* Form_of_autorization */
.main {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  height: 90vh;
}
.form-autorization {
  height: 584px;
  width: 484px;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  position: relative;
}
.form-decoration {
  background-color: rgba(60, 184, 120, 1);
  height: 18px;
  margin: 0;
  position: absolute;
  top: 34px;
}
.form-wrapper {
  width: 324px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 31px 0 0 0;
  margin: 0;
}
.form-header-link-one {
  margin-right: 216px;
  text-decoration: none;
  color: #434343;
  font-size: 20px;
}
.form-header-link-two {
  color: #3CB878;
  text-decoration: none;
  font-size: 14px;
}

.wrapper-fb-g {
  display: flex;
  justify-content: space-between;
}
.autorization-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin-top: 15px;
  background: #305DB8;
  border: 1px solid #fff;
  border-radius: 3px;
  width: 160px;
  height: 48px;
  align-content: center;
  cursor: pointer;
}
.autorization-facebook:hover {
  background: rgba(2, 34, 99, 1);
}
.facebook-decoration {
  color: #fff;
  padding: 7px 0 7px 17px;
  border-left: 1px solid rgba(10, 22, 47, 0.1);
}
.facebook-logo {
  padding-right: 19px;
}
.autorization-google {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin-top: 15px;
  background: rgba(223, 74, 50, 1);
  border: 1px solid #fff;
  border-radius: 3px;
  width: 160px;
  height: 48px;
  align-content: center;
  cursor: pointer;
}
.autorization-google:hover {
  background: rgba(171, 31, 9, 1);
}
.google-decoration {
  color: #fff;
  padding: 7px 0 7px 17px;
  border-left: 1px solid rgba(10, 22, 47, 0.1);
}
.google-logo {
  padding-right: 19px;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 31px 0 0 0;
}
.line-decoration {
  color: rgba(242, 242, 242, 1);
  width: 152px;
  margin: 0;
}
.line-text {
  font-size: 14px;
  margin: 0;
  color: rgba(132, 132, 132, 1);
}
.autorization-items {
  width: 322px;
}
/* input:placeholder {
  color: rgba(190, 190, 190, 1);
} */
.autorization-name-firstname {
  margin-top: 12px;
  padding-left: 19px;
  box-sizing: border-box;
  width: 324px;
  height: 44px;
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 5px;
  box-sizing: border-box;
}
.autorization-name-firstname:focus {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  outline: 0;
}
.autorization-name-lastname {
  margin-top: 16px;
  padding-left: 19px;
  box-sizing: border-box;
  width: 324px;
  height: 44px;
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 5px;
}
.autorization-name-lastname:focus {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  outline: 0;
}
.autorization-name-email {
  margin-top: 16px;
  padding-left: 19px;
  box-sizing: border-box;
  width: 324px;
  height: 44px;
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 5px;
}
.autorization-name-email:focus {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  outline: 0;
}
.autorization-choose-password {
  margin-top: 16px;
  padding-left: 19px;
  box-sizing: border-box;
  width: 324px;
  height: 44px;
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 5px;
}
.autorization-choose-password:focus {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  outline: 0;
}
.autorization-confirm-password {
  margin-top: 16px;
  padding-left: 19px;
  box-sizing: border-box;
  width: 324px;
  height: 44px;
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 5px;
}
.autorization-confirm-password:focus {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  outline: 0;
}
.checkbox {
  margin: 12px; 0 20px 0;
}
.checkbox-text {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.checkbox_label-accent-color {
  color: rgba(60, 184, 120, 0.8);
}
.checkbox_label-accent-color:hover {
  color: #01813F;
  text-decoration: underline;
}
.checkbox_label {
  font-size: 14px;
  margin-top: 12px;
  display: block;
  /* cursor: pointer; */
}




.create-account-submit {
  box-sizing: border-box;
  padding: 0;
  color: #fff;
  margin 0;
  font-size: 16px;
  background:  rgba(60, 184, 120, 0.8);
  border: 0;
  border-radius: 4px;
  width: 324px;
  height: 46px;
  align-content: center;
  cursor: pointer;
}
.create-account-submit:hover {
  background-color: rgba(1, 129, 63, 1);
}